#KeeFoxInstallWizard 
{
	background-color:#d8610f;
}

#KFInstallPageMain
{
	border-style: solid;
	border-width: 20px;
	-moz-border-top-colors: #d8610f #d7600e #d6600e #d55f0e #d45f0e #d25e0e #d05d0e #ce5c0e #cc5b0e #ca5a0e #c7590d #c5580d #c2570d #bf550d #bc540d #b9530c #b6510c #b2500c;
	-moz-border-left-colors: #d8610f #d7600e #d6600e #d55f0e #d45f0e #d25e0e #d05d0e #ce5c0e #cc5b0e #ca5a0e #c7590d #c5580d #c2570d #bf550d #bc540d #b9530c #b6510c #b2500c;
	-moz-border-right-colors: #d8610f #d7600e #d6600e #d55f0e #d45f0e #d25e0e #d05d0e #ce5c0e #cc5b0e #ca5a0e #c7590d #c5580d #c2570d #bf550d #bc540d #b9530c #b6510c #b2500c;
	-moz-border-bottom-colors: #d8610f #d7600e #d6600e #d55f0e #d45f0e #d25e0e #d05d0e #ce5c0e #cc5b0e #ca5a0e #c7590d #c5580d #c2570d #bf550d #bc540d #b9530c #b6510c #b2500c;
	padding: 5px !important;
	margin: 0px !important;
	background-color:#fff;
	font-family: Arial;
	color: #444;
}

#KFInstallPageTitle, #KFInstallPageContent
{
	-moz-border-top-colors: #cdcdcd #d3d3d3 #d9d9d9 #dfdfdf #e4e4e4 #e9e9e9 #eeeeee #f1f1f1 #f5f5f5 #f8f8f8 #fafafa #fcfcfc #fdfdfd #fefefe;
	-moz-border-bottom-colors: #cdcdcd #d3d3d3 #d9d9d9 #dfdfdf #e4e4e4 #e9e9e9 #eeeeee #f1f1f1 #f5f5f5 #f8f8f8 #fafafa #fcfcfc #fdfdfd #fefefe;
	-moz-border-right-colors: #cdcdcd #d3d3d3 #d9d9d9 #dfdfdf #e4e4e4 #e9e9e9 #eeeeee #f1f1f1 #f5f5f5 #f8f8f8 #fafafa #fcfcfc #fdfdfd #fefefe;
	-moz-border-left-colors: #cdcdcd #d3d3d3 #d9d9d9 #dfdfdf #e4e4e4 #e9e9e9 #eeeeee #f1f1f1 #f5f5f5 #f8f8f8 #fafafa #fcfcfc #fdfdfd #fefefe;
	border-width: 14px;
	border-style: solid;
	margin: 10px 10px;
}

#KFInstallPageContent
{
	background-color:#fff;
	-moz-border-radius-bottomleft:7px;
	-moz-border-radius-bottomright:7px;
}

#KFInstallPageTitle
{
	-moz-border-radius-topleft:7px;
	-moz-border-radius-topright:7px;
}

#KFInstallPageTitle description
{
	background-color:White;
	width: 500px !important;
	text-align: center;
	letter-spacing:-2px;
	font-weight: bold;
	font-size: 35px;
}


#adminNETInstallExpander
{
	/*width:300px !important;*/
}

description#setupNET35ExeInstallExpandeeKeePass,
description#setupNET35ExeInstallExpandeeNet,
description#setupNET35ExeInstallExpandeeManual
{
	padding: 10px 0px 0px 0px;
}

description#setupNET35ExeInstallExpandeeManualStep1,
description#setupNET35ExeInstallExpandeeManualStep2,
description#setupNET35ExeInstallExpandeeManualStep3,
description#setupNET35ExeInstallExpandeeManualStep4
{
	padding: 5px 0px 0px 20px;
}

button
{
	-moz-appearance: none !important;
	outline: 0px solid green !important;
	padding: 5px;
	margin: 20px 0px !important;
	color: #174894;
	font-weight: bold !important;
	background: url('buttonGradient.png') repeat-x white;
	height: 53px;
}

button:hover
{
	-moz-appearance: none !important;
	outline: 0px solid green !important;
	padding: 5px;
	margin: 20px 0px !important;
	color: #174894;
	font-weight: bold !important;
	background: url('buttonGradientHover.png') repeat-x white;
	height: 53px;
}