#KeeFox_Menu-Button
{
    list-style-image: url("chrome://keefox/skin/KeeFox24.png");  
}

toolbar[iconsize="small"] #KeeFox_Menu-Button
{
    list-style-image: url("chrome://keefox/skin/KeeFox16.png");  
}

#KeeFox_Menu-Button .toolbarbutton-menu-dropmarker,
#KeeFox_Logins-Button .toolbarbutton-menu-dropmarker
{
 	padding: 0px 0px 0px 3px;
}

#KeeFox_Logins-Button
{
	list-style-image: url("chrome://keefox/skin/KeeLock24.png");  
}

#KeeFox_Logins-Button[disabled="true"]
{
	list-style-image: url("chrome://keefox/skin/KeeLockGrey24.png");  
}

toolbar[iconsize="small"] #KeeFox_Logins-Button
{
	list-style-image: url("chrome://keefox/skin/KeeLock.png");  
}

toolbar[iconsize="small"] #KeeFox_Logins-Button[disabled="true"]
{
	list-style-image: url("chrome://keefox/skin/KeeLockGrey.png");  
}

toolbarbutton#KeeFox_Main-Button 
{
	list-style-image: url("chrome://keefox/skin/KeeGrey24.png");
}

toolbarbutton.highlight, toolbarbutton.login-found  
{
	list-style-image: url("chrome://keefox/skin/KeeOrange24.png") !important;
}

toolbar[iconsize="small"] toolbarbutton#KeeFox_Main-Button 
{
	list-style-image: url("chrome://keefox/skin/KeeGrey.png");
}

toolbar[iconsize="small"] toolbarbutton.highlight,
toolbar[iconsize="small"] toolbarbutton.login-found  
{
	list-style-image: url("chrome://keefox/skin/KeeOrange.png") !important;
}

.toolbarbutton-menubutton-button
{
	-moz-box-orient: horizontal !important;
	padding: 0px 3px !important;
}

.FAMSmessageGroup
{
	border: solid 1px #000 !important;
	padding: 5px !important;
	margin: 5px !important;
}

.FAMSdisabled
{
	color: gray !important;
	border-color: gray !important;
}

.FAMScheckLabelControl
{
	padding: 0px;
}

.FAMSdescription
{
	padding: 0px;
}

.FAMStitle
{
	padding: 0px;
	text-decoration: underline !important;
}

.FAMSnote
{
	padding: 10px;
	font-style:italic;
}