#KeeFox_Menu-Button
{
    list-style-image: url("chrome://keefox/skin/KeeFox24.png");  
}

toolbar[iconsize="small"] #KeeFox_Menu-Button
{
    list-style-image: url("chrome://keefox/skin/KeeFox16.png");  
}

#KeeFox_Menu-Button .toolbarbutton-menu-dropmarker,
#KeeFox_Logins-Button .toolbarbutton-menu-dropmarker
{
 	padding: 0px 0px 0px 3px;
}

#KeeFox_Logins-Button
{
	list-style-image: url("chrome://keefox/skin/KeeLock24.png");  
}

#KeeFox_Logins-Button[disabled="true"]
{
	list-style-image: url("chrome://keefox/skin/KeeLockGrey24.png");  
}

toolbar[iconsize="small"] #KeeFox_Logins-Button
{
	list-style-image: url("chrome://keefox/skin/KeeLock.png");  
}

toolbar[iconsize="small"] #KeeFox_Logins-Button[disabled="true"]
{
	list-style-image: url("chrome://keefox/skin/KeeLockGrey.png");  
}

toolbarbutton#KeeFox_Main-Button 
{
	list-style-image: url("chrome://keefox/skin/KeeGrey24.png");
}

toolbarbutton.highlight, toolbarbutton.login-found  
{
	list-style-image: url("chrome://keefox/skin/KeeOrange24.png") !important;
}

toolbar[iconsize="small"] toolbarbutton#KeeFox_Main-Button 
{
	list-style-image: url("chrome://keefox/skin/KeeGrey.png");
}

toolbar[iconsize="small"] toolbarbutton.highlight,
toolbar[iconsize="small"] toolbarbutton.login-found  
{
	list-style-image: url("chrome://keefox/skin/KeeOrange.png") !important;
}

.toolbarbutton-menubutton-button
{
	-moz-box-orient: horizontal !important;
	padding: 0px 3px !important;
}

.FAMSmessageGroup
{
	border: solid 1px #000 !important;
	padding: 5px !important;
	margin: 5px !important;
}

.FAMSdisabled
{
	color: gray !important;
	border-color: gray !important;
}

.FAMScheckLabelControl
{
	padding: 0px;
}

.FAMSdescription
{
	padding: 0px;
}

.FAMStitle
{
	padding: 0px;
	text-decoration: underline !important;
}

.FAMSnote
{
	padding: 10px;
	font-style:italic;
}

.keeFoxNotificationImage
{
	padding: 0px 0px !important;
	margin: 4px 10px !important;
	width:24px !important;
	height:24px !important;
	max-width:24px !important;
	max-height:24px !important;
	min-width:24px !important;
	min-height:24px !important;
	-moz-box-align: center !important;
}

.keeFoxNotificationButtons
{
	padding: 0px !important;
	margin: 0px !important;
}

.keefoxMessageText 
{
	margin: 7px 5px 6px 5px !important;
}

.keeFoxNotificationButtons toolbarbutton.menuitem-iconic {
  -moz-appearance: button;
  margin-left: 5px !important;
  margin-right: 5px !important;
  height: 32px !important;
  min-height: 32px !important;
}