.itemEnd
{
	margin-bottom:15px;
}

.danger
{
	color:red;
}

.note
{
	margin-left:15px;
}

.findEntryGrid
{
	max-width: 650px;
}

.tableLeftName
{
	text-align:right;
}

.text-link 
{
	text-decoration: underline !important;
	color: #284898;
	cursor: pointer;
}

.keefox-hide {
    display:none;
}