.itemEnd
{
	margin-bottom:15px;
}

.danger
{
	color:red;
}

.note
{
	margin-left:15px;
}

.findEntryGrid
{
	height: 50px !important;
}

.tableLeftName
{
	text-align:right;
}

.text-link 
{
	text-decoration: underline !important;
	color: #284898;
	cursor: pointer;
}