<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="5004890e-8865-4d16-8e66-4b3090b75648" Name="KeeICE" Language="1033" Version="0.5.0.0" Manufacturer="Chris Tomlinson" UpgradeCode="5dd4618b-6d8a-4ec0-87cd-302621727b98">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Property Id="KEEPASSINSTALLPATH">
      <RegistrySearch Id="KeePassInstallPath"
          Root="HKLM"
          Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\KeePassPasswordSafe2_is1"
          Name="InstallLocation"
          Type="directory" />
    </Property>
    
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="KEEPASSINSTALLPATH" Name="whatever">
        <Directory Id="INSTALLLOCATION" Name="plugins"/>
      </Directory>
		</Directory>

    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="MainDLLComponent" Guid="0807af80-a79e-4215-bdb1-37bd0f156b0f">
        <File Id="KeeICE.dll" Name="$(var.KeeICE.TargetFileName)" Source="$(var.KeeICE.TargetPath)" DiskId="1" KeyPath="yes" />
        <RemoveFile Id='KeeICE.dll' On='uninstall' Name='$(var.KeeICE.TargetFileName)' />
      </Component>
      <Component Id="ICEDLLComponent" Guid="0807af80-a79e-4215-bdb1-37bd0f156b0e">
        <File Id="ICE.dll" Name="Ice.dll" Source="C:\development\Ice-3.3.0-VC90\bin\Ice.dll" DiskId="1" KeyPath="yes" />
        <RemoveFile Id='ICE.dll' On='uninstall' Name='Ice.dll' />
      </Component>
    </DirectoryRef>


    <Feature Id="ProductFeature" Title="KeeICE" Level="1">
      <ComponentRef Id="MainDLLComponent" />
      <ComponentRef Id="ICEDLLComponent" />
    </Feature>

    <Condition Message=
 'This setup requires the .NET Framework 2.0 or higher.'><![CDATA[MsiNetAssemblySupport >= "2.0.50727"]]></Condition>
    <Condition Message=
 'You need to be an administrator to install this product.'>Privileged</Condition>
    <Condition Message='You need to install KeePass first.'>KEEPASSINSTALLPATH</Condition>
    
    <!--<Property Id='ARPCOMMENTS'>any comments</Property>-->
    <Property Id='ARPCONTACT'>Chris Tomlinson</Property>
    <Property Id='ARPHELPLINK'>http://sourceforge.net/projects/keepass/</Property>
    <Property Id='ARPURLINFOABOUT'>http://sourceforge.net/projects/keepass/</Property>
    <Property Id='ARPURLUPDATEINFO'>http://sourceforge.net/projects/keepass/</Property>
    <Property Id='ARPSIZE'>500</Property>
    <CustomAction Id='PropAction' Property='ARPINSTALLLOCATION' Value='[KEEPASSINSTALLPATH]plugins/' />

    <Property Id="ALLUSERS">1</Property>

    <!--<Property Id="WixShellExecTarget" Value="[KEEPASSINSTALLPATH]/KeePass.exe -welcomeToKeeFox" />
    <CustomAction Id="LaunchApplication" ExeCommand="" Property="testLaunch" Return="asyncNoWait"/>-->
    <!--<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes"/>-->

    <!--<CustomAction Id="SetKeePassPath"

              Property="testLaunch"

              Value="[KEEPASSINSTALLPATH]KeePass.exe" />-->
    <!--<Binary Id="MyCA" SourceFile="[KEEPASSINSTALLPATH]KeePass.exe"/>

    <CustomAction Id="LaunchApplication"
                  BinaryKey="MyCA"
                  ExeCommand="-welcomeToKeeFox"
                  Execute="deferred"
                  Return="asyncNoWait"
                  HideTarget="no"
                  Impersonate="yes" />-->
    
    <CustomAction Id="LaunchApplication"

    Directory="KEEPASSINSTALLPATH"

    ExeCommand="[KEEPASSINSTALLPATH]KeePass.exe -welcomeToKeeFox"

    Return="asyncNoWait" />
    
    <InstallExecuteSequence>
      <Custom Action='PropAction' After='InstallFiles'/>
      <!--<Custom Action="SetKeePassPath" After="AppSearch"></Custom>-->
      <Custom Action='LaunchApplication' OnExit='success'>
        NOT Installed
      </Custom>
    </InstallExecuteSequence>

  </Product>
</Wix>
